#!WasteNoTime Blocklist v20180828
# Usage: To load this block list into WasteNoTime,
#   1. Copy the URL from browser address bar
#   2. WasteNoTime Settings -> Edit Settings -> Block List -> Load from URL (button)

# 屏蔽SNS网站
# 境内
# 新浪微博
*.weibo.com
*.weibo.cn
t.cn
*.freeweibo.com
# QQ空间
*.qzone.qq.com
# 贴吧
*.tieba.com
tieba.baidu.com
# 境外
# Facebook
*.facebook.com
# Instagram
*.instagram.com
# Twitter
*.twitter.com
# TruckersMP
*.truckersmp.com
